.test{
display: grid;
grid-template-rows: repeat(3,minmax(200px,1fr));
grid-template-columns: repeat(4, minmax(300px,1fr));
justify-content: start;
gap: 20px;
max-width: 1440px;
margin-left: auto;
margin-right: auto;
padding-left: 0.5rem;
padding-right: 0.5rem;
}

#opay1{
    width:  70%;
    height: 50%;
    position: relative;
    left: 20px;
    top: 5%;
    
}
#fair1{
    width: 70%;
    height: 30%;
    position: relative;
    left: 20px;
    top: -15px;

  
}
#palm1{
    width: 70%;
    height: auto;
    position: relative;
    top: -7%;
    left: 30px;

}
#gtbank1{
    width: 90%;
    height: 50px;
    position: relative;
    top: 20px;
    left: 10%;
}
#first1{
    width: 35%;
    height: auto;
    position: relative;
    top: -30px;
    
}
#key1{
    width: 65%;
    height: 25%;
    position: relative;
    left: 6%;
}
#acess1{
    width: 38%;
    height: 70%;
    position: relative;
    top: -55%;
    left: 20px;
}
#diamond1{
    width: 100%;
    height: 30%;
    position: relative;
    left: 17px;
}
#opay{
    display: flexbox;
    background-color: #ffcc69;
    width: 60%;
    height: 51%;
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 1;
    position: relative;
    left: 40%;
    top: 5%;
    border-radius: 8px;  
}
#fair{
    display: flexbox;
    background-color: #f9f7fa;
    width: 66%;
    height: 64%;
    grid-row-start: 3;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 2;
    border-radius: 8px;
    position: relative;
    top: -56%;
}
#palm{
    display: flexbox;
    background-color: #ffcc69;
    width: 66%;
    height: 64%;
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start:3 ;
    grid-column-end: 3;
    position: relative;
    left: -30%;
    top: -18%;
    border-radius: 8px;
}
#first{
    display: flexbox;
    background-color: #7651dc;
    color: white;
    width: 69%;
    height: 80%;
    grid-row-start:1 ;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 4;
    text-align: center;
    border-radius: 8px;
}
#gtbank{
    display: flexbox;
    background-color: #f9f7fa;
    width: 66%;
    height: 64%;
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start:2 ;
    grid-column-end: 2;
    position: relative;
    top: -18%;
    border-radius: 8px;
}
#key{
    display: flexbox;
    background-color: #faeee2;
    width: 60%;
    height: 52%;
    grid-row-start:1 ;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 1;
    position: relative;
    left: 40%;
    border-radius: 8px;
}
#acess{
    display: flexbox;
    background-color: #7651dc;
    color: white;
    width: 65%;
    height: 63%;
    grid-row-start: 3;
    grid-row-end: 3;
    grid-column-start: 3;
    grid-column-end: 5;
    position: relative;
    top: -56%;
    left: -15%;
    border-radius: 8px;
}
#diamond{
    display: flexbox;
    background-color: #dcd1fc;
    width: 60%;
    height: 74%;
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 4;
    grid-column-end: 4;
    position: relative;
    left: -64%;
    border-radius: 8px;
}
.big{
    width: 68%;
    font-size: 150%;
    font-weight: bolder;
    position: relative;
    left: 20px;
    
}
.mega{
    font-size: 300%;
}
.grow{
    width: 50%;
    font-size: 170%;
    position: relative;
    left: 45%;
    top: 10%;
}
.social{
    font-size: 25px;
    position: relative;
    left: 20px;
}
.star{
    position: relative;
    top: -50px;
    left: -8%;
    width: 550px;
    font-size: large;
}
.fast{
   position: relative;
   top: -20px;
   left: 18px;
}
.time{
    position: relative;
    left: 13px;
}   


@media (270px <= width <= 600px) {
    .test{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
        grid-template-rows: repeat(8, minmax(300px, 1fr));
        justify-content: flex-start ;
        align-content: flex-start;
        background-color: #f5f5f5;

    }
    #opay1{
        width:  65%;
        height: 55%;
        position: relative;
        left: 20px;
        top: -5%;
        
    }
    #fair1{
        width: 55%;
        height: 30%;
        position: relative;
        left: 20px;
        top: -15px;
    
      
    }
    #palm1{
        width: 60%;
        height: 45%;
        position: relative;
        top: 5%;
        left: 30px;
    
    }
    #gtbank1{
        width: 89%;
        height: 31%;
        position: relative;
        top: 20px;
        left: 4%;
    }
    #first1{
        width: 55%;
        height: auto;
        position: relative;
        top: -30px;
        left: 5%;
        
    }
    #key1{
        width: 62%;
        height: 35%;
        position: relative;
        left: 6%;
        top: -2%;
    }
    #acess1{
        width: 65%;
        height: 45%;
        position: relative;
        top: -40%;
        left: 20%;
    }
    #diamond1{
        width: 88%;
        height: 60%;
        position: relative;
        left: 5%;

    }
    #opay{
        display: flexbox;
        background-color: #ffcc69;
        width: 90%;
        height: 80%;
        grid-row-start: 8;
        grid-row-end: 8;
        grid-column-start: 1;
        grid-column-end: 1;
        position: relative;
        left: 3%;
        top: -223%;
        border-radius: 8px;  
    }
    #fair{
        display: flexbox;
        background-color: #f9f7fa;
        width: 90%;
        height: 52%;
        grid-row-start: 6;
        grid-row-end: 6;
        grid-column-start: 1;
        grid-column-end: 1;
        border-radius: 8px;
        position: relative;
        top: -133%;
        left: 3%;
    }
    #palm{
        display: flexbox;
        background-color: #ffcc69;
        width: 90%;
        height: 66%;
        grid-row-start: 3;
        grid-row-end: 3;
        grid-column-start: 1 ;
        grid-column-end: 1;
        position: relative;
        left: 3%;
        top: -80%;
        border-radius: 8px;
    }
    #first{
        display: flexbox;
        background-color: #7651dc;
        color: white;
        width: 90%;
        height: 70%;
        grid-row-start:1 ;
        grid-row-end: 1;
        grid-column-start: 1;
        grid-column-end: 1;
        position: relative;
        left: 3%;
        text-align: center;
        border-radius: 8px;
    }
    #gtbank{
        display: flexbox;
        background-color: #f9f7fa;
        width: 90%;
        height: 46%;
        grid-row-start: 2;
        grid-row-end: 2;
        grid-column-start:1 ;
        grid-column-end: 1;
        position: relative;
        left: 3%;
        top: -28%;
        border-radius: 4%;
    }
    #key{
        display: flexbox;
        background-color: #faeee2;
        width: 90%;
        height: 52%;
        grid-row-start: 7 ;
        grid-row-end: 7;
        grid-column-start: 1;
        grid-column-end: 1;
        position: relative;
        left: 3%;
        top: -178%;
        border-radius: 8px;
    }
    #acess{
        display: flexbox;
        background-color: #7651dc;
        color: white;
        width: 90%;
        height: 85%;
        grid-row-start: 5;
        grid-row-end: 5;
        grid-column-start: 1;
        grid-column-end: 1;
        position: relative;
        top: -121%;
        left: 3%;
        border-radius: 8px;
    }
    #diamond{
        display: flexbox;
        background-color: #dcd1fc;
        width: 90%;
        height: 89%;
        grid-row-start: 4;
        grid-row-end: 4;
        grid-column-start: 1;
        grid-column-end: 1;
        position: relative;
        left: 3%;
        top: -112%;
        border-radius: 8px;
    }
    .big{
        width: 87%;
        height: 30%;
        font-size: 240%;
        font-weight: bolder;
        position: relative;
        left: 20px;
        
    }
    .mega{
        width: 70%;
        font-size: 280%;
        text-align: inherit;
        position: relative;
        left: 18%;
    }
    .grow{
        width: 70%;
        font-size: 280%;
        font-weight: bolder;
        position: relative;
        top: 50%;
        left: 18%;
        text-align: center;
    }
    .social{
        font-size: 190%;
        position: relative;
        left: 18%;
    }
    .star{
        position: relative;
        top: -50px;
        left: -5%;
        width: 550px;
        font-size: 190%;
    }
    .fast{
        font-size: 200%;
       position: relative;
       top: -20px;
       left: 18px;
    }
    .time{
        width: 70%;
        font-size: 140%;
        position: relative;
        left: 13%;
        text-align: center;
    }   
}